/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: #ccc;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.t-tip {
    position: relative;
    display: inline-block;
}

.t-tip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    position: absolute;
    z-index: 1;
}

.t-tip:hover .tooltiptext {
    visibility: visible;
}

.panel-body {
    background-color: black;
}

.panel-black {
    background-color: #333;
    color: white;
    border-color: #555;
}

.panel-black > .panel-footer {
    background-color: #333;
    border-color: #555;
}

.dropdown-menu {
    background-color: #333;
}

.dropdown-menu > li > a {
    color: white;
}
