<h1>Welcome</h1>

<h2>Summary</h2>
<p>
    Create an ASP.NET Core 2.0 MVC Web Application. This web application will communicate with an external API periodically / automatically and
    deliver data to a MySQL or Microsoft SQL Server database. Data must be accessed through controller endpoints to a view only accessible to
    authorized users.
</p>

<p>
    Users should be able to register using their own email or an external service such as Facebook, Google or Microsoft. These registrations should
    take advantage of the .NET Core Identity.
</p>

<p>
    Data can be retrieved and displayed from any external API source that the engineer is familiar with.
</p>

<p>
    As an example, an application could use The Movie Database (<a href="https://www.themoviedb.org/documentation/api">https://www.themoviedb.org/documentation/api</a>) to fetch movies and provide view filters for upcoming movie, top rated movies and popular movies.
</p>

<h2>
    Task Objectives / Expectations
</h2>

<ul>
    <li>
        API Endpoint should use ASP.NET MVC Controllers.
    </li>
    <li>
        Database should be populated using .NET Entity Framework migrations
    </li>
    <li>
        Service registration / Dependency Injection knowledge should be shown
    </li>
    <li>
        Entity Framework Querying should be used
    </li>
    <li>
        3rd Party accounts should take advantage of Entity Framework
    </li>
</ul>
<h2>Bonus Objectives</h2>
<ul>
    <li>
        Use of cloud based services for resources (Azure/AWS preferred)
    </li>
    <li>
        Deployment in the cloud with short summary on how the app was deployed
    </li>
</ul>
<h3>Tools / Suggestions:</h3>
Although we recommend engineers use what's comfortable for them, we do suggest using tool that make things easier for developing this project:
<ul>
    <li>
        Visual Studio (Enterprise / Core)
    </li>
    <li>
        NuGet package manager
    </li>
</ul>
<p>
    For Linux or MacOS, we recommend using Visual Studio Code:<br/>
    <a href="https://code.visualstudio.com/download">https://code.visualstudio.com/download</a>
</p>
<p>
    The .NET SDK for Linux (Ubuntu) can be downloaded here:<br/>
    <a href="https://www.microsoft.com/net/download/linux/build">https://www.microsoft.com/net/download/linux/build</a>
</p>
<p>
    The following article gives a good overview of how to get started with .NET Core and running this in Visual Studio Code:<br/>
    <a href="https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code">https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code</a>
</p>
<p>
    A skeleton for a .NET Core project can be cloned from this Git repository:<br/>
    <a href="https://github.com/AaronFixer/EngineerTest.git">https://github.com/AaronFixer/EngineerTest.git</a>
</p>
<p>
    Finished project should be made available through Github with some short steps on how to deploy and use in Development. Deployment
    instructions should be kept to a minimum.
</p>
<p>
    When submitted, we will review the code internally and provide details on the next steps / arrangements.
</p>